<template>
  <div class="site-header">
    <div class="container container__site-header">
      <div class="site-header__wrapper">
        <div>
          <router-link to="/">
            <img src="@/assets/logo.png" alt="SRC Logo" width="82" />
          </router-link>
        </div>
        <div class="site-header__nav">
          <router-link to="/" class="site-header__link">Home</router-link>
          <router-link to="/blog" class="site-header__link">Blog</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "SiteHeader",
};
</script>

<style lang="scss">
.site-header {
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 124px;
  }
  &__nav {
    margin: -32px;
  }
  &__link {
    text-decoration: none;
    padding: 32px;
    color: currentColor;
    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
