<template>
  <div class="blog">
    <suspense>
      <template #default>
        <blog-list />
      </template>
      <template #fallback>
        <p>Loading...</p>
      </template>
    </suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BlogList from "@/components/blog/BlogList.vue";

export default defineComponent({
  name: "BlogView",
  components: { BlogList },
});
</script>
