<template>
  <div class="blog-detail">
    <suspense>
      <template #default>
        <blog-detail />
      </template>
      <template #fallback>
        <span class="loading">Loading...</span>
      </template>
    </suspense>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import BlogDetail from "@/components/blog/BlogDetail.vue";

export default defineComponent({
  name: "BlogPostView",
  components: { BlogDetail },
});
</script>
