<template>
  <div class="home">
    <suspense>
      <template #default>
        <latest-posts />
      </template>
      <template #fallback>
        <p>Loading...</p>
      </template>
    </suspense>

    <suspense>
      <template #default>
        <blog-list />
      </template>
      <template #fallback>
        <p>Loading...</p>
      </template>
    </suspense>
  </div>
</template>

<script lang="ts">
import { defineAsyncComponent, defineComponent } from "vue";
import LatestPosts from "@/components/blog/LatestPosts.vue";

const BlogList = defineAsyncComponent(
  () => import("@/components/blog/BlogList.vue")
);

export default defineComponent({
  name: "HomeView",
  components: { BlogList, LatestPosts },
});
</script>
