<template>
  <div class="container container__blog-detail">
    <div class="blog-detail">
      {{ body }}
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "BodyText",
  props: ["body"],
};
</script>

<style lang="scss">
.blog-detail {
  margin: 0 0 64px;
}
</style>
