<template>
  <div class="title__wrapper">
    <div class="container">
      <h1 class="title">{{ postTitle }}</h1>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "MainTitle",
  props: ["postTitle"],
};
</script>

<style lang="scss">
.title__wrapper {
  background: #fdefe6;
  padding: 24px 0;
  margin: 0 0 48px;
  @media (min-width: 640px) {
    padding: 104px 0;
    margin: 0 0 72px;
  }
}
.title {
  font-weight: 700;
  font-size: 28px;
  line-height: (56/48);
  text-transform: capitalize;
  @media (min-width: 640px) {
    font-size: 48px;
  }
}
</style>
