<template>
  <div class="container container__blog-detail">
    <img
      v-lazy="{ src: `https://picsum.photos/1920/1080?random=${pictureId}` }"
      :alt="pictureAlt"
      class="picture"
      @click.stop="displayModal = true"
    />
    <div class="modal" v-if="displayModal" @click.stop="displayModal = false">
      <img
        :src="`https://picsum.photos/1920/1080?random=${pictureId}`"
        :alt="pictureAlt"
        class="modal__img"
      />
    </div>
  </div>
</template>

<script lang="ts">
export default {
  name: "MainPicture",
  props: ["pictureId", "pictureAlt"],
  data() {
    return {
      displayModal: false,
    };
  },
};
</script>

<style lang="scss">
.picture__wrapper {
}
.picture {
  width: 100vw;
  max-height: 100vh;
  margin: 0 -15px 32px;
  object-fit: cover;
  @media (min-width: 768px) {
    width: 100%;
    height: 500px;
    margin: 0 0 32px;
  }
}
</style>
