<template>
  <div class="blog-list">
    <div class="container">
      <div class="blog-list__wrapper">
        <div v-for="post in posts" :key="post.id" class="blog-list__box">
          <router-link :to="`/blog/${post.id}`" class="blog-list__link">
            <img
              v-lazy="{
                src: `https://picsum.photos/950/500?random=${post.id}`,
              }"
              :alt="post.title"
              class="blog-list__thumbnail"
            />
            {{ post.title }}
          </router-link>
          <div class="blog-list__text">
            {{ post.body.substring(0, 100) + "..." }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import usePosts from "@/composables/blog/posts";

export default {
  name: "BlogList",
  async setup() {
    const { posts, fetchPosts } = usePosts();
    fetchPosts();
    return { posts };
  },
};
</script>

<style lang="scss">
.blog-list {
  &__wrapper {
    column-count: 1;
    column-gap: 20px;
    column-fill: balance;
    text-align: center;
    @media (min-width: 640px) {
      column-count: 2;
    }
    @media (min-width: 768px) {
      column-count: 3;
    }
    @media (min-width: 960px) {
      column-count: 4;
    }
  }
  &__thumbnail {
    width: 100%;
    height: 426px;
    object-fit: cover;
    margin-bottom: 32px;
  }
  &__box {
    grid-row: span 4;
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    margin: 0 0 40px;
  }
  &__box:nth-of-type(even) {
    grid-row: span 2;
    .blog-list__thumbnail {
      height: 255px;
    }
  }
  &__link {
    font-weight: 700;
    font-size: 24px;
    line-height: (28/24);
    color: currentColor;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 0 22px;
    display: block;
  }
  &__text {
    &:before {
      content: "";
      background: #d9d9d9;
      height: 1px;
      width: 120px;
      margin: 0 auto 24px;
      display: block;
    }
  }
}
</style>
