<template>
  <div>
    <MainTitle :post-title="post.title" />
    <MainPicture :picture-id="post.id" :picture-alt="post.title" />
    <BodyText :body="post.body" />
  </div>
</template>

<script lang="ts">
import usePosts from "@/composables/blog/posts";
import router from "@/router";
import MainTitle from "@/components/blog/blogDetail/MainTitle.vue";
import MainPicture from "@/components/blog/blogDetail/MainPicture.vue";
import BodyText from "@/components/blog/blogDetail/BodyText.vue";

export default {
  name: "BlogDetail",
  async setup() {
    const { currentRoute } = router;
    const { fetchPost, post } = usePosts();
    await fetchPost(currentRoute.value.params.id);

    return { post };
  },
  components: {
    BodyText,
    MainPicture,
    MainTitle,
  },
};
</script>

<style lang="scss"></style>
