<template>
  <div class="blog-latest">
    <div v-for="post in recentPosts" :key="post.id" class="blog-latest__box">
      <router-link
        :key="`/blog/${post.id}`"
        :to="`/blog/${post.id}`"
        class="blog-latest__link"
      >
        <img
          v-lazy="{ src: `https://picsum.photos/950/500?random=${post.id}` }"
          :alt="post.title"
          class="blog-latest__thumbnail"
        />
        <span class="blog-latest__title">{{ post.title }}</span>
        <span class="button">Read more</span>
      </router-link>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, ref } from "vue";
import usePosts, { Post } from "@/composables/blog/posts";

export default {
  name: "LatestPosts",
  async setup() {
    let recentPosts = ref<Post[] | null>(null);
    const { posts, fetchPosts } = usePosts();
    fetchPosts();
    recentPosts = computed(() => {
      return posts.value !== null ? posts.value.slice(-4) : null;
    });

    return { recentPosts };
  },
};
</script>

<style lang="scss">
.blog-latest {
  display: grid;
  color: #ffffff;
  margin: 0 auto 72px;
  text-align: center;
  max-width: 1920px;
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 960px) {
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1200px) {
    gap: 20px;
  }
  &__box {
    aspect-ratio: 1 / 1;
    position: relative;
    display: grid;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: currentColor;
    padding: 24px 24px 56px;
  }
  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.6);
  }
  &__title {
    text-transform: capitalize;
    font-size: 24px;
    line-height: (28/24);
    text-align: center;
    margin: 0 0 24px;
    @media (min-width: 1024px) {
      font-size: 20px;
    }
    @media (min-width: 1200px) {
      font-size: 24px;
    }
  }
}
</style>
