<template>
  <div id="app">
    <SiteHeader />
    <router-view :key="$route.fullPath" />
  </div>
</template>
<script lang="ts">
import SiteHeader from "@/components/layout/SiteHeader.vue";
export default {
  components: {
    SiteHeader,
  },
};
</script>
<style lang="scss"></style>
