* {
  margin: 0;
  padding: 0;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: (24/16);
  color: #000000;
}
.container {
  max-width: 1278px;
  margin: auto;
  padding: 0 15px;
  &__site-header {
    max-width: 1468px;
  }
  &__blog-detail {
    max-width: 950px;
  }
}
.router-link-exact-active {
  color: #fc102c;
}
.button {
  border: solid 1px #fff;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  height: 200px;
  max-height: 100vh;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  &__img {
    max-width: 100%;
  }
}